.DomEdI_UniqLine_Style *{
	padding: 0px;
	margin: 0px;
}
.DomEdI_UniqLine_Style{
	position: relative;
	width: 100%;
	text-align: center;
}
	.DomEdI_UniqLine_Style table{
		position: relative;
		width: 100%;
		text-align: center;
	}
		.DomEdI_UniqLine_Style table::before{
			content: " ";
			position: absolute;
			width: 100%;
			height: 20px;
			top: calc(50% - 10px);
			left: 0px;
			background-color: #bebebe;
			z-index: 0;
		}
		.DomEdI_UniqLine_Style table td .container-mini{
			overflow: hidden;
			height: 100%;
			width: 100%;
		}
	.DomEdI_UniqLine_Style .pick{
		width: 19%;
		display: inline-block;
		position: relative;
	}
	.DomEdI_UniqLine_Style .data{
		width: 19%;
		display: inline-block;
		position: relative;
	}
		.DomEdI_UniqLine_Style .pick .pickPoint{
			position: relative;
			display: inline-block;
			width: 50px;
			height: 50px;
			background-color: #bebebe;
			border-radius: 50%;
		}
			.DomEdI_UniqLine_Style .pick .pickPoint::after{
				content: "";
				position: absolute;
				width: 50%;
				height: 50%;
				border-radius: 50%;
				left: 25%;
				top: 25%;
				background-color: green;
			}
		.DomEdI_UniqLine_Style .pick .pickPointText{
			position: absolute;
			width: 100%;
		}
		.DomEdI_UniqLine_Style .data .dataPoint{
			position: relative;
			width: 100px;
			height: 100px;
			background-color: #bebebe;
			border-radius: 50%;
			display: inline-block;
			font-size: 20px;
		}
			.DomEdI_UniqLine_Style .data .dataPoint .dataTable{
				display: table;
				height: 100%;
				width: 100%;
			}
			.DomEdI_UniqLine_Style .data .dataPoint .dataCell{
				vertical-align: middle;
				height: 100%;
				display: table-cell;
				text-align: center;
			}
				.DomEdI_UniqLine_Style .data .dataPoint .dataCell .dataText{
					height: 100%;
				}