<div qv-extension class="DomEdI_UniqLine_Style">
	<table>
		<tr>
			<td ng-repeat-start="item in uniqLineData"></td>
			
			<td class="pick" style="width:{{itemWidth}}">
				<div class="container-mini">
					<div class="pickPoint"></div>
					<div class="pickPointText" ng-bind="item.name"></div>
				</div>
			</td>
			<td ng-if="item.count != false" class="data" style="width:{{itemWidth}}">
				<div class="container-mini">
					<div class="dataPoint">
						<div class="dataTable">
							<div class="dataCell">
								<span class="dataText" ng-bind=item.count>
								
								</span>
							</div>
						</div>
					</div>
				</div>
			</td>
			
			<td ng-repeat-end></td>
		</tr>
	</table>
</div>
